@font-face {
	font-family: "NIGHTMARE PILLS";
	src: url('font/NightmarePills-BV2w.ttf');
}
@font-face {
	font-family: "Fighting Spirit Turbo";
	src: url('font/Fighting\ Spirit\ 2.ttf');
}
@font-face {
	font-family: "Go Speeds";
	src: url('font/GoSpeeds.ttf');
}
@font-face {
	font-family: "Shoes Center";
	src: url('font/Shoes\ center.ttf');
}

body{background-color:#201D1D; color: white;}
h1{font-family:'NIGHTMARE PILLS'; font-size: 65px; text-align: center; object-fit: cover;} 
h1 a{color: white;}
h1 a:hover{color: white; text-decoration: none;}
h1 span{color:#8EAE75; font-family: 'Fighting Spirit Turbo' ;font-size: 20px;}
h2{text-align: center; font-family: 'Go Speeds';}
input{margin:auto; display:block;text-align: center; border-top:none; border-left: none; border-right: none; border-bottom: white 1px solid;
background-color: #201D1D; color:white; margin-bottom:50px; margin-top: 20px; font-family: 'Go Speeds';
height: 50px; width: 300px; font-size: 30px;}
input:hover{width: 350px;}
input:focus{outline: none;}
p.name{text-align: center; font-family: 'Shoes Center'; background-color: black; 
	opacity: 0.7; padding-top: 25px; padding-bottom: 21px; margin-top: -70px;}
a{color: white;}
a:hover{color:white; text-decoration: none;}
div.img{margin: auto; display: block; object-fit: cover;}
div.container{border: 2px solid white;}
div.container .col-md-4{padding:0px; height: 400px;}
img.head{width: 500px; height: 100px;}

li{font-family: 'Courier New', Courier, monospace;}
footer h6{text-align: center; font-size: 15px; font-family: 'Go Speeds';}

